<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

{% include head.html %}

<body id="page--compare">

  <!--[if lt IE 10]>
         <div id="nocando">
           <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         </div>
      <![endif]-->

  <!-- Header -->
  {% include banner.html %}


  <div id="site-canvas" class="page-content-dynamic" data-type="{{ page.visualization }}" data-id="{{ page.entity }}">

      <div id="top"></div>

      <section class="page-introduction">
        <div class="main-content-with-padding">
          <div class="row contain spaced-row">
            <h1 class="page--title">{{ page.header }}</h1>
            <p>{{ page.introduction }}</p>
          </div>
        </div>
      </section>

      <section class="compare-graph highlihted-bg">
        <div class="row spaced-row contain">
          <div id="compare--overview_chart" class="compare-chart"></div>
        </div>
      </section>

      {% if page.items %}
      {% for item in page.items %}
      <section class="item">
        <div class="main-content-with-padding">
            <div class="contain spaced-row row">
          <div class="container--score">
            &nbsp;{% if item.score %}<span>{{item.score}}</span>{% endif %}
          </div>
          <div class="container--title">
            <h2>{{item.title}}</h2>
          </div>
          <div class="container--body">
            <p>{{item.body}}</p>
            <a href="#top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
          </div>
        </div>
        </div>
      </section>
      {% endfor %}
      {% endif %}

      <div id="compare--overview_list"></div>

    </div>

  <!-- Footer -->
  {% include footer.html %}
    
  <!-- Go to top HTML -->
  <a href="#" class="go-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- jQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- JS -->
  <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

  <!-- Tabs JS -->
  <script type="text/javascript">
    // Equal heghts
      var tabsFn = (function () {
        function init() {
          setHeight();
        }
        function setHeight() {
          var $tabPane = $('.tab-pane-wrapper'),
            tabsHeight = $('.nav-tabs').height();
          $tabPane.css({
            height: tabsHeight
          });
        }
        $(init);
      })();

      // Current tab
      $(document).ready(function () {
        $('ul.nav-tabs li').click(function () {
          var tab_id = $(this).attr('data-tab');
          $('ul.nav-tabs li').removeClass('current');
          $('.tab-pane-wrapper').removeClass('current');
          $(this).addClass('current');
          $("#" + tab_id).addClass('current');
        })
      })
    </script>
    
    <!-- Go to top JS -->
    <script type="text/javascript">
      jQuery(document).ready(function($){
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
          //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
          offset_opacity = 1200,
          //duration of the top scrolling animation (in ms)
          scroll_top_duration = 700,
          //grab the "back to top" link
          $back_to_top = $('.go-to-top');
        //hide or show the "back to top" link
        $(window).scroll(function(){
          ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('is-visible') : $back_to_top.removeClass('is-visible fade-out');
          if( $(this).scrollTop() > offset_opacity ) { 
            $back_to_top.addClass('fade-out');
          }
        });
        //smooth scroll to top
        $back_to_top.on('click', function(event){
          event.preventDefault();
          $('body,html').animate({
            scrollTop: 0 ,
            }, scroll_top_duration
          );
        });
      });      
    </script>

    <!-- Read more -->
    <script type="text/javascript" src="https://cdn.rawgit.com/vaakash/jquery-collapser/master/jquery.collapser.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($){
        setTimeout(function() {
          $('.container--body p').collapser({
            mode: 'words',
            truncate: 25,
            showText: '[+]',
            hideText: '[-]',
          });
        }, 1000);

      });
  </script>

</body>

</html>