<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

{% include head.html %}

<body id="page--index">

  <!--[if lt IE 10]>
         <div id="nocando">
           <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
         </div>
      <![endif]-->

  <!-- Header -->
  {% include banner.html %}
  <!--<div class="main-content-with-padding">-->
    <div id="site-canvas" class="non-highlihted-bg" data-type="{{ page.visualization }}" data-id="{{ page.entity }}">
      <!-- World map -->
      <section class="world-map non-highlihted-bg">
        <!-- Page intro -->
        <div class="main-content-with-padding">
          <div class="page--intro non-highlihted-bg">
            <div class="row contain">
              <h1 class="page--title">{{ page.title }}</h1>
              <p>{{ page.intro }}</p>
            </div>
            <div class="row contain">
              <a class="read--more" href="{{ site.baseurl }}/report/executive-summary"><i class="fa fa-arrow-right" aria-hidden="true"></i>Read more</a>
              <a class="download--full--report" href="{{ site.baseurl }}/assets/static/download/RDRindex2019report.pdf"><i class="fa fa-arrow-down" aria-hidden="true"></i>Download full report</a>
            </div>
          </div>
        </div>

        <div class="contain row">

          <div id="container"></div>

          <img id="map_placeholder" style="display:none" class="img-responsive" src="assets/graphics/content/map_mobile.png" alt="Static world map that shows the 24 companies evaluated in the 2019 Ranking Digital Rights Corporate Accountability Index.">

            <div class="graph-legend">
              <div class="graph-legend-content">
                <div class="graph-legend-content-item">
                  <div class="graph-legend-content-item-value">24</div>
                  <div class="graph-legend-content-item-label">companies</div>
                </div>
                <div class="graph-legend-content-item">
                  <div class="graph-legend-content-item-value">73</div>
                  <div class="graph-legend-content-item-label">services</div>
                </div>
                <div class="graph-legend-content-item">
                  <div class="graph-legend-content-item-value">35</div>
                  <div class="graph-legend-content-item-label">indicators</div>
                </div>
              </div>
              <div class="graph-legend-values">
                <div class="graph-legend-values-item">
                  <div class="graph-legend-values-label">Industry</div>
                  <div class="graph-legend-values-value internet-and-mobile-companies">
                    <i class="fa fa-circle"></i> Internet and mobile ecosystem companies
                  </div>
                  <div class="graph-legend-values-value telecommunications-companies">
                    <i class="fa fa-circle"></i> Telecommunications companies
                  </div>
                </div>
              </div>
              <!--<div class="graph-legend-interaction">-->
                <!--<div class="graph-legend-interaction-item">-->
                  <!--<a href="{{ site.baseurl }}/download/"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>-->
                <!--</div>-->
                <!--<div class="graph-legend-interaction-item">-->
                  <!--<div class="dropdown&#45;&#45;trigger_mobile" data-dropdown="dropdown-share">-->
                    <!--<a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a>-->
                    <!--<ul class="dropdown&#45;&#45;share" id="dropdown-share">-->
                      <!--<li class="dropdown&#45;&#45;item">-->
                        <!--<textarea id="linkToCopy" readonly></textarea>-->
                        <!--<button id="CopyToClipboard">Copy</button>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
        </div>
      </section>

      <!-- Key findings -->
      <section class="key-findings highlihted-bg" id="key-findings">
        <div class="main-content-with-padding">
          <div class="contain spaced-row row">
          <h1 class="page--subtitle">Key findings</h1>
          <div class="description--texts">
            <div class="description--text">
              <p>Most companies improved scores in at least one area, and many made significant improvements in the past year. Yet companies still fell short:</p>
              <ul>
                <li><p><strong>Privacy:</strong> Companies still do not adequately inform people about all the ways user information is collected and shared, with whom, and why. </p></li>
                <li><p><strong>Expression:</strong> As companies struggle to curb extremism, hate speech, and disinformation, most lacked transparency about how they police content or respond to government demands.</p></li>
                <li><p><strong>Governance:</strong> Most companies failed to anticipate and manage privacy and expression risks caused by their business models, and by the deployment of new technologies.
                </p></li>
              </ul>
            </div>
            <div class="description--text">
              <p>The 2019 RDR Index ranked 24 companies on <a href="{{ site.baseurl }}/indicators/">35 indicators across three categories</a> evaluating their disclosure of commitments, policies, and practices affecting freedom of expression and privacy. The RDR Index evaluates policies of the parent company, operating company, and those of selected services (depending on company structure).</p>
              <p>Read more about <a href="{{ site.baseurl }}/report/index-methodology/">the methodology</a>, <a href="https://rankingdigitalrights.org/2019-research-process/">research</a> process, and how we <a href="{{ site.baseurl }}/report/index-methodology/#evaluation">score</a> each company.</p>
              <div class="action-links">
                <a href="{{ site.baseurl }}/report/executive-summary/">
                  <span>Read the Executive Summary</span>
                </a>
                <a href="{{ site.baseurl }}/report/executive-summary/#recommendations">
                  <span>Read our Recommendations</span>
                </a>
                <a href="{{ site.baseurl }}/download/">
                  <span>Download The Full Report</span>
                </a>
              </div>
            </div>

          </div>

        </div>
        </div>

      </section>


      <!-- Company ranking -->
      <section class="company-ranking non-highlihted-bg" id="company-ranking">

          <div class="main-content-with-padding">
            <div class="contain spaced-row row">

              <h1 class="page--subtitle">2019 RDR Index ranking</h1>
              <div class="page--subtitle--undertext">How did the companies compare?</div>

              <div class="company-ranking-chart">
                <div id="category--internet--home">
                  <label><i class="fa fa-circle"></i> Internet and mobile ecosystem companies</label>
                </div>
                <div id="category--telco--home">
                  <label><i class="fa fa-circle"></i> Telecommunications companies</label>
                </div>
              </div>
            </div>
          </div>
      </section>


      <!-- Services ranking -->
      <section class="services-ranking" id="services-ranking">
        <div class="main-content-with-padding">
          <div class="contain spaced-row row">
            <h1 class="page--subtitle">Year-on-year comparison</h1>
            <p>Which companies improved the most? To read how each company fared in comparison to the 2018 RDR Index go to the "<a href="{{ site.baseurl }}/compare/">Compare</a>" page.</p>
            <div id="compare--overview_chart" class="compare-chart"></div>
            <div class="services-ranking-mob-image"><img src="{{ site.baseurl }}/assets/graphics/content/index-compare-year.svg" alt="Barchart that shows the year-on-year score changes in comparison to the 2018 Ranking Digital Rights Corporate Accountability Index. Most companies were able to improve their policies and therefore their total scores."></div>
          </div>
        </div>
      </section>


      <!-- Data stories -->
      <section class="data-stories non-highlihted-bg" id="key-stories">
        <div class="main-content-with-padding">
          <div class="contain spaced-row row">
            <h1 class="page--subtitle">Report highlights</h1>

            <div class="data-stories-tabs">

              <ul class="tabs">
                <li class="tab-link current" data-tab="tab-1">
                  <div class="icon icon-01_highlights"></div>
                  <span>Highlights and trends</span>
                </li>
                <li class="tab-link" data-tab="tab-2">
                  <div class="icon icon-02_governance"></div>
                  <span>Governance</span>
                </li>
                <li class="tab-link" data-tab="tab-3">
                  <div class="icon icon-03_freedom"></div>
                  <span>Freedom of expression</span>
                </li>
                <li class="tab-link" data-tab="tab-4">
                  <div class="icon icon-04_privacy"></div>
                  <span>Privacy</span>
                </li>
                <li class="tab-link" data-tab="tab-5">
                    <div class="icon icon-05_questions"></div>
                    <span>Questions for investors</span>
                </li>
              </ul>


              <div id="tab-1" class="tab-content current">
                <div class="tab-content-title">
                  <div class="icon icon-01_highlights"></div>
                  <h3>Highlights and trends</h3>
                </div>

                <p>Most companies have disclosed more about key policies and practices affecting users’ privacy and freedom of expression than in the past. Yet they still fell short on disclosing basic information to users about the design, management, and governance of the digital platforms and services that affect human rights. Read <a href="{{ site.baseurl }}/report/index-ranking/">Chapter 2</a> to find out more about RDR Index leaders, and key highlights and trends.</p>
              </div>
              <div id="tab-2" class="tab-content">
                <div class="tab-content-title">
                  <div class="icon icon-02_governance"></div>
                  <h3>Governance</h3>
                </div>

                <p>Companies that led the RDR Index have stronger governance and oversight over human rights. Yet oversight and management of human rights risks faced by users remains inconsistent and uneven. Few companies provide effective grievance and remedy mechanisms. Read more about our Governance findings in <a href="{{ site.baseurl }}/report/governance/">Chapter 3</a>.</p>
              </div>
              <div id="tab-3" class="tab-content">
                <div class="tab-content-title">
                  <div class="icon icon-03_freedom"></div>
                  <h3>Freedom of expression</h3>
                </div>

                <p>A small number of internet platforms, mobile ecosystems, and telecommunications services have become powerful gatekeepers for public discourse and access to information. But most lack transparency about how online expression is policed. Read more in <a href="{{ site.baseurl }}/report/freedom-of-expression/">Chapter 4</a>.</p>
              </div>
              <div id="tab-4" class="tab-content">
                <div class="tab-content-title">
                  <div class="icon icon-04_privacy"></div>
                  <h3>Privacy</h3>
                </div>

                <p>Nearly all ranked companies made some improvements to their disclosures of policies and practices affecting privacy in the past year. But companies that led the Privacy category of the 2019 RDR Index distinguished themselves by going beyond minimum legal requirements—at least in certain areas, even if they were deficient in others. Read more about our privacy findings in <a href="{{ site.baseurl }}/report/privacy/">Chapter 5</a>.</p>
              </div>
              <div id="tab-5" class="tab-content">
                <div class="tab-content-title">
                  <div class="icon icon-05_questions"></div>
                  <h3>Questions for Investors</h3>
                </div>

                <p>The RDR Index provides a clear standard for investors to use in evaluating company respect for users’ digital rights. Shareholder value is put at risk not only by security breaches, but also when companies fail to identify and mitigate broader human rights risks across their business operations. Read <a href="{{ site.baseurl }}/report/questions-for-investors-to-ask/">Chapter 6</a> to find out questions investors should ask of companies.</p>
              </div>
            </div>
          </div>
        </div>
      </section>


    </div>

  <!--</div>-->



    <!-- Footer -->
    {% include footer.html %}

    <!-- Go to top HTML -->
    <a href="#" class="go-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- jQuery -->
    <script src="{{ site.baseurl }}/assets/vendor/jquery.min.js"></script>

    <script src="https://d3js.org/topojson.v1.min.js"></script>

    <!-- JS -->
    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

    <!-- Tabs JS -->
    <script>
      // Equal heghts
      var tabsFn = (function () {
        function init() {
          setHeight();
        }
        function setHeight() {
          var $tabPane = $('.tab-pane-wrapper'),
            tabsHeight = $('.nav-tabs').height();
          $tabPane.css({
            height: tabsHeight
          });
        }
        $(init);
      })();
      // Current tab
      $(document).ready(function () {
        $('ul.nav-tabs li').click(function () {
          var tab_id = $(this).attr('data-tab');
          $('ul.nav-tabs li').removeClass('current');
          $('.tab-pane-wrapper').removeClass('current');
          $(this).addClass('current');
          $("#" + tab_id).addClass('current');
        })
      })
      // Current tab - Report
      $(document).ready(function () {
          $('ul.tabs li').click(function(){
              var tab_id = $(this).attr('data-tab');
              $('ul.tabs li').removeClass('current');
              $('.tab-content').removeClass('current');
              $(this).addClass('current');
              $("#"+tab_id).addClass('current');
          })
      })
    </script>

    <!-- Go to top JS -->
    <script>
      jQuery(document).ready(function($){
        // browser window scroll (in pixels) after which the "back to top" link is shown
        var offset = 300,
          //browser window scroll (in pixels) after which the "back to top" link opacity is reduced
          offset_opacity = 1200,
          //duration of the top scrolling animation (in ms)
          scroll_top_duration = 700,
          //grab the "back to top" link
          $back_to_top = $('.go-to-top');
        //hide or show the "back to top" link
        $(window).scroll(function(){
          ( $(this).scrollTop() > offset ) ? $back_to_top.addClass('is-visible') : $back_to_top.removeClass('is-visible fade-out');
          if( $(this).scrollTop() > offset_opacity ) {
            $back_to_top.addClass('fade-out');
          }
        });
        //smooth scroll to top
        $back_to_top.on('click', function(event){
          event.preventDefault();
          $('body,html').animate({
            scrollTop: 0 ,
            }, scroll_top_duration
          );
        });
      });
    </script>


    <!-- Map -->
    <!-- <script>
        jQuery(document).ready(function($){
            //$('#container').css({"position":"relative","padding-bottom":"48%"});
        });
    </script> -->

</body>

</html>
