<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body id="page--narrative" class="non-highlihted-bg">

    <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

    {% include banner.html %}

    <div id="site-canvas" class="non-highlihted-bg">

      <!-- Banner -->
      <section class="narrative--banner"> 
        <img class="report_head" src="{{ site.baseurl }}/assets/graphics/content/report_transparent.png">
        <!-- <img class="report_head_mob" src="{{ site.baseurl }}/assets/graphics/content/report_transparent_mob.png"> -->
      </section>

      <div id="narrative-page-content" class="contain">
        <div class="sidebar">
          <div class="sidebar-menu" id="executive-summary"><a href="{{ site.baseurl }}/report/executive-summary">Executive summary</a></div>
          <div class="sidebar-menu" id="/about-index"><a href="{{ site.baseurl }}/report/about-index">About the Index</a></div>
          <!-- Index Metodology -->
          <div class="sidebar-menu" id="2019-index-methodology">
            <a href="{{ site.baseurl }}/report/index-methodology">2019 RDR Index methodology </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/index-methodology#index-categories">Index categories</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/index-methodology#company-type">Company types</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/index-methodology#index-measures">What the index evaluates</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/index-methodology#evaluation">Evaluation and scoring</a></li>
            </ol>
          </div>
          <!-- Introduction -->
          <div class="sidebar-menu" id="introduction">
            <a href="{{ site.baseurl }}/report/introduction">1. Introduction </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/introduction#section-11">1.1 How to read this report</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/introduction#section-12">1.2 Explore the data and details</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/introduction#section-13">1.3 Beyond the RDR Index</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/introduction#section-14">1.4 Beyond 2019</a></li>
            </ol>
          </div>
          <!--The 2019 RDR Index Ranking -->
          <div class="sidebar-menu" id="index-ranking">
            <a href="{{ site.baseurl }}/report/index-ranking">2. The 2019 RDR Index ranking </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/index-ranking#section-21">2.1 Internet and mobile ecosystem highlights</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/index-ranking#section-22">2.2 Telecommunications company highlights</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/index-ranking#section-23">2.3 Notable changes</a></li>
            </ol>
          </div>
          <!-- Governance -->
          <div class="sidebar-menu" id="governance">
            <a href="{{ site.baseurl }}/report/governance">3. Governance </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/governance#section-31">3.1 Global Network Initiative members lead the pack</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/governance#section-32">3.2 Governance gap: Expression and privacy</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/governance#section-33">3.3 Due diligence</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/governance#section-34">3.4 Grievance and remedy</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/governance#section-35">3.5 Government policy and regulatory trends</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/governance#section-36">3.6 Recommendations for companies</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/governance#section-37">3.7 Recommendations for governments</a></li>
            </ol>
          </div>
          <!-- Freedom of Expression -->
          <div class="sidebar-menu" id="freedom-of-expression">
            <a href="{{ site.baseurl }}/report/freedom-of-expression">4. Freedom of Expression</a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <div class="expand"></div>
          </div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/freedom-of-expression#section-41">4.1 Transparency remains inadequate</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/freedom-of-expression#section-42">4.2 Terms of service and enforcement</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/freedom-of-expression#section-43">4.3 External demands to restrict content or accounts</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/freedom-of-expression#section-44">4.4 Network management and shutdowns</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/freedom-of-expression#section-45">4.5 Regulatory developments and challenges</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/freedom-of-expression#section-46">4.6 Recommendations for companies</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/freedom-of-expression#section-47">4.7 Recommendations for governments</a></li>
            </ol>
          </div>
          <!-- Privacy -->
          <div class="sidebar-menu" id="privacy">
            <a href="{{ site.baseurl }}/report/privacy">5. Privacy</a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div>
          </div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-51">5.1 Transparency remains inadequate</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-52">5.2 Handling of user information</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-53">5.3 Privacy gaps: collection and sharing</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-54">5.4 Government demands</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-55">5.5 Security trends</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-56">5.6 Regulatory trends and gaps</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-57">5.7 Recommendations for companies</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy#section-58">5.8 Recommendations for governments</a></li>
            </ol>
          </div>
          <!-- Questions for investors to ask -->
          <div class="sidebar-menu" id="questions-for-investors-to-ask"><a href="{{ site.baseurl }}/report/questions-for-investors-to-ask">6. Questions for investors</a></div>
          <!-- Appendix -->
          <div class="sidebar-menu" id="appendix">
            <a href="{{ site.baseurl }}/report/appendix">7. Appendix</a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-71">7.1 RDR Index methodology development</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-72">7.2 Company selection</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-73">7.3 Selection of services</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-74">7.4 Levels of disclosure</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-75">7.5 Research process and steps</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-76">7.6 Company engagement</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-77">7.7 Scoring</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-78">7.8 For further information</a></li>
            </ol>
          </div>
          <div class="sidebar-menu" id="executive-summary"><a href="{{ site.baseurl }}/report/acknowledgements">Acknowledgments</a></div>
        </div>


        <div class="narrative-content">

          {{content}}

          <div class="pagination">
            {% if page.prev %}
            <a href="{{ site.baseurl }}/report/{{ page.prev.href }}"><i class="fa fa-angle-double-left"></i>{{ page.prev.text }}</a>
            {% endif %}
            {% if page.next %}
            <a class="next" href="{{ site.baseurl }}/report/{{ page.next.href }}">{{ page.next.text }}<i class="fa fa-angle-double-right"></i></a>
            {% endif %}
          </div>

          {% if page.footnotes %}
          <h3 id="footnotes">Footnotes</h3>
          <div class="footnotes">
            {{ page.footnotes }}
          </div>
          {% endif %}

        </div>

      </div><!--end of #narrative-page-content-->

    </div>

    {% include footer.html %}

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>
    <script>

        $( document ).ready(function() {

            //add animation for show section

            $(function() {
                $('.submenu ol li > a').click(function(){
                    $('html, body').animate({
                        scrollTop: $( $(this).attr('href') ).offset().top - 40
                    }, 1000);
                    return false;
                });
            });

            // click on submenu-ling changed color

            $(function() {
                $('.submenu-link').click(function() {
                    $('.submenu-link').removeClass('active-base-color');
                    $(this).addClass('active-base-color');
                });
            });

            // on scroll added fixed class

            $(function() {
                $(window).scroll(function() {
                    if ($(this).scrollTop() >= 530) {
                        $('.sidebar').addClass('fixed');
                    } else {
                        $('.sidebar').removeClass('fixed');
                    }
                });
            });

            // open and close

            $('.sidebar-menu').click(function () {
                var $this = $(this);

                if ($this.hasClass('open')) {
                    $('.sidebar-menu').removeClass('open');
                    $('.submenu').stop(true).slideUp("fast");
                    $this.removeClass('open');
                    $this.next().stop(true).slideUp("fast");
                }
                else {
                    $('.sidebar-menu').removeClass('open');
                    $('.submenu').stop(true).slideUp("fast");
                    $this.addClass('open');
                    $this.next().stop(true).slideDown("fast");
                }
            });

            // find url and open submenu (Filip)

            $(function() {
                var pageUrl = window.location.href;
                var urlParts = pageUrl.split('/').reverse();
                console.log(urlParts);
                var partForId = undefined;
                for (var i=0; i<urlParts.length; i++) {
                    if (!urlParts[i].startsWith('#') && urlParts[i] !== '') {
                        partForId = urlParts[i];
                        console.log(partForId);
                        break;
                    }
                }
                $('#' + partForId).addClass('open').next('.submenu').css('display','block');

            });



        });
    </script>

  </body>

</html>
