#page--services {
	.services--list {
	padding: 0;
		@include media(small-up) {
		padding: 0;
		}
		@include media(medium-up) {
		padding: 0;
		}
		@include media(large-up) {
		padding: 0;
		}
		@include media(xlarge-up) {
		padding: 1.5em 0 8em 2em;	
		}		
		#index--services {
			li {
			margin-bottom: 15px;
				i {
				color: $violet;	
				font-size: 17px;    							
				margin-right: 5px;
				line-height: 1;
    			text-align: center;
				display: none;
					@include media(small-up) {
					font-size: 18px;    							
					margin-right: 5px;
					}
					@include media(medium-up) {
					font-size: 18px;    							
					margin-right: 5px;
					}
					@include media(large-up) {
					font-size: 20px;    							
					margin-right: 5px;
					}
					@include media(xlarge-up) {
					font-size: 20px;
					margin-right: 5px;	
					}    				
				}
				a {
				color: $black;
				font-family: $platform-bold;
				text-transform: normal;
	    		font-size: 28px;//17
	    		line-height: 1.5;	
	    		letter-spacing: 1px;
					@include media(small-up) {
					font-size: 30px;//18
					}
					@include media(medium-up) {
					font-size: 30px;//18
					}
					@include media(large-up) {
					font-size: 32px;//20
					}
					@include media(xlarge-up) {
					font-size: 36px;//23
					}

				}
				span{
				color: $black;
				font-size: 20px;
				}
				span:not(:first-child):after {
					content: ", ";
				}
				span:last-child:after {
					content: "";
				}
				.gray-color{
					color: $base-text-color;
				}
				&:last-child{
				margin-bottom: 0;
				}
			}
		}
	}
}