<div class="banner">
  <div class="row contain">

    <div class="banner--internal">
      <a href="https://rankingdigitalrights.org/index2018">
        <img class="logo" src="{{ site.baseurl }}/assets/graphics/layout/rdr_logo.svg"></img>
      </a>
      <a href="https://rankingdigitalrights.org">
        <img class="rdr" src="{{ site.baseurl }}/assets/graphics/layout/rdr_hed.svg"></img>
      </a>

      <button class="bttn--hamburger">
        <span>Open Menu</span>
      </button>
    </div>

    <div class="medium-up" style="margin-top: -2px;">
      <ul class="nav">
        <li class="nav--item"><a href="https://rankingdigitalrights.org/category/blog/">Blog</a></li>
        <li class="nav--item dropdown--trigger"><a href="{{ site.baseurl }}">Corporate Accountability Index</a>
          <ul class="dropdown" id="dropdown-corporate">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/index2015/">Index 2015</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/index2017/">Index 2017</a></li>
          </ul>
        </li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-about"><a href="#">About</a>
          <ul class="dropdown" id="dropdown-about">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/about/">Overview</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/events/">Events</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/in-the-news/">In the news</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/projects/">Other Projects</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/publications/">Publications</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/donate/">Donate</a></li>
          </ul>
        </li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-who"><a href="#">Who We Are</a>
          <ul class="dropdown" id="dropdown-who">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/">Our Team</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/affiliates/">Affiliates</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/partners/">Funders and Partners</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/advisory-council/">Advisory Council</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/contact/">Contact<a></li>
          </ul>
        </li>
        <li class="nav--item dropdown--trigger" data-dropdown="dropdown-resources"><a href="#">Resources</a>
          <ul class="dropdown" id="dropdown-resources">
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/investors/">For Investors</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/methodology-development/">Methodology Development</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/2018-research-process/">2018 Research Process</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/2017-research-process/">2017 Research Process</a></li>
            <li class="dropdown--item"><a href="https://rankingdigitalrights.org/2015-research-process/">2015 Research Process<a></li>
          </ul>
        </li>
        <li class="nav--item"><a href="https://rankingdigitalrights.org/who/frequently-asked-questions/">FAQ</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="nav--mobile">
  <div class="nav--vertical">

    <div class="blue-nav-bg">

      <div class="nav--item_vertical"><a href="https://rankingdigitalrights.org/category/blog/">Blog</a></div>
      <div class="nav--item_vertical nav--item_active"><a href="{{ site.baseurl }}">Corporate Accountability Index</a></div>
      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-about-mobile">
        <a href="#">About</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>

      <ul class="dropdown dropdown--mobile" id="dropdown-about-mobile">
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/about/">Overview</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/events/">Events</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/in-the-news/">In the news</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/projects/">Other Projects</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/publications/">Publications</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/donate/">Donate</a></li>
      </ul>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-who-mobile">
        <a href="#">Who we are</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>

      <ul class="dropdown dropdown--mobile" id="dropdown-who-mobile">
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/">Our Team</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/affiliates/">Affiliates</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/partners/">Funders and Partners</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/who/advisory-council/">Advisory Council</a></li>
        <li class="dropdown--item"><a href="https://rankingdigitalrights.org/contact/">Contact<a></li>
      </ul>

      <div class="nav--item_vertical"><a href="https://rankingdigitalrights.org/who/frequently-asked-questions/">FAQ</a></div>

    </div>

    <div class="gray-nav-bg">

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}">Index</a></div>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-report-mobile">
        <a href="{{ site.baseurl }}/report/executive-summary">Report</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-report-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/acknowledgements">Acknowledgments</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/executive-summary">Executive Summary</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/about-index">About the Ranking Digital Rights Corporate Accountability Index</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/2018-index-methodology">1. 2018 Index Methodology</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/introduction">2. Introduction</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/inadequate-disclosure">3. Inadequate disclosure</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/security-uncertainty">4. Security uncertainty</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/privacy-failures">5. Privacy failures</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/policing-speech">6. Policing speech</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/telecommunications-disconnect">7. Telecommunications disconnect</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/recommendations-for-governments">8. Recommendations for governments</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/questions-for-investors-to-ask">9. Questions for investors</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/company-report-cards">10. Company Report Cards</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/report/appendix">11. Appendix</a></li>
      </ul>

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}/compare">Compare</a></div>

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}/companies">Companies</a></div>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-services-mobile">
        <a href="{{ site.baseurl }}/services">Services</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-services-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services">All services</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/cloudservices">Cloud services</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/emailservice">Email service</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/fixedbroadband">Fixed broadband</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/messagingvoip">Messaging & VOIP</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/mobileeco">Mobile ecosystems</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/prepostpaidmobile">Pre- and Post- paid Mobile</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/search">Search</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/socialnetworkblog">Social network & blog</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/services/videophoto">Video/Photo</a></li>
      </ul>

      <div class="nav--item_vertical dropdown--trigger_mobile" data-dropdown="dropdown-categories-mobile">
        <a href="#">Categories</a>
        <span class="collecticon collecticon-sm-triangle-down"></span>
        <span class="collecticon collecticon-sm-triangle-up"></span>
      </div>
      <ul class="dropdown dropdown--mobile" id="dropdown-categories-mobile">
        <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/governance">Governance</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/freedom-of-expression">Freedom Of Expression</a></li>
        <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/privacy">Privacy</a></li>
      </ul>

      <div class="nav--item_vertical">
        <a href="{{ site.baseurl }}/indicators">Indicators</a>
        <!--<span class="collecticon collecticon-sm-triangle-down"></span>-->
        <!--<span class="collecticon collecticon-sm-triangle-up"></span>-->
      </div>
      <!--<ul class="dropdown dropdown&#45;&#45;mobile" id="dropdown-indicators-mobile">-->
        <!--<li class="dropdown&#45;&#45;item dropdown&#45;&#45;trigger_mobile" data-dropdown="dropdown-indicators-mobile-governance">-->
          <!--<a href="#">Governance</a>-->
          <!--<span class="collecticon collecticon-sm-triangle-down"></span>-->
          <!--<span class="collecticon collecticon-sm-triangle-up"></span>-->
          <!--<ul class="dropdown dropdown&#45;&#45;mobile" id="dropdown-indicators-mobile-governance">-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/g1">G1.  Policy Commitment</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/g2">G2. Governance and management oversight</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/g3">G3. Internal implementation  </a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/g4">G4. Impact assessment  </a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/g5">G5. Stakeholder engagement</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/g6">G6. Remedy</a></li>-->

          <!--</ul>-->
        <!--</li>-->

        <!--<li class="dropdown&#45;&#45;item dropdown&#45;&#45;trigger_mobile" data-dropdown="dropdown-indicators-mobile-freedom">-->
          <!--<a href="#">Freedom Of Expression</a>-->
          <!--<span class="collecticon collecticon-sm-triangle-down"></span>-->
          <!--<span class="collecticon collecticon-sm-triangle-up"></span>-->
          <!--<ul class="dropdown dropdown&#45;&#45;mobile" id="dropdown-indicators-mobile-freedom">-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f1">F1. Access to terms of service</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f2">F2. Changes to terms of service</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f3">F3. Process for terms of service enforcement</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f4">F4. Data about terms of service enforcement </a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f5">F5. Process for responding to third-party requests for content or account restriction</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f6">F6. Data about government requests for content or account restriction</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f7">F7. Data about private requests for content or account restriction</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f8">F8. User notification about content and account restriction</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f9">F9. Network management (telecommunications companies)</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f10">F10. Network shutdown (telecommunications companies)</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/f11">F11. Identity policy</a></li>-->
          <!--</ul>-->
        <!--</li>-->

        <!--<li class="dropdown&#45;&#45;item dropdown&#45;&#45;trigger_mobile" data-dropdown="dropdown-indicators-mobile-privacy">-->
          <!--<a href="#">Privacy</a>-->
          <!--<span class="collecticon collecticon-sm-triangle-down"></span>-->
          <!--<span class="collecticon collecticon-sm-triangle-up"></span>-->
          <!--<ul class="dropdown dropdown&#45;&#45;mobile" id="dropdown-indicators-mobile-privacy">-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p1">P1. Access to privacy policies</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p2">P2. Changes to privacy policies</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p3">P3. Collection of user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p4">P4. Sharing of user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p5">P5. Purpose for collecting and sharing user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p6">P6. Retention of user information  </a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p7">P7. Users’ control over their own user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p8">P8. Users’ access to their own user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p9">P9. Collection of user information from third parties (Internet companies)</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p10">P10. Process for responding to third-party requests for user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p11">P11. Data about third-party requests for user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p12">P12. User notification about third-party requests for user information</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p13">P13. Security oversight</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p14">P14. Addressing security vulnerabilities</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p15">P15. Data breaches</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p16">P16. Encryption of user communication and private content (Internet and mobile ecosystem companies)</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p17">P17. Account Security (Internet, software, and device companies)</a></li>-->
            <!--<li class="dropdown&#45;&#45;item"><a href="{{ site.baseurl }}/indicators/p18">P18. Inform and educate users about potential risks</a></li>-->
          <!--</ul>-->
        <!--</li>-->

      <!--</ul>-->

      <div class="nav--item_vertical"><a href="{{ site.baseurl }}/download">Download</a></div>

    </div>

  </div>
</div>


<div class="secondary-navigation">
  <div class="row contain">
    <div class="medium-up">
      <ul class="nav">
        <li class="nav--item index"><a href="{{ site.baseurl }}">Index</a></li>
        <li class="nav--item report dropdown--trigger" data-dropdown="dropdown-report">
          <a href="{{ site.baseurl }}/report/executive-summary">Report</a>
          <ul class="dropdown" id="dropdown-report">
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/acknowledgements">Acknowledgments</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/executive-summary">Executive Summary</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/about-index">About the Ranking Digital Rights Corporate Accountability Index</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/2018-index-methodology">1. 2018 Index Methodology</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/introduction">2. Introduction</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/inadequate-disclosure">3. Inadequate disclosure</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/security-uncertainty">4. Security uncertainty</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/privacy-failures">5. Privacy failures</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/policing-speech">6. Policing speech</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/telecommunications-disconnect">7. Telecommunications disconnect</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/recommendations-for-governments">8. Recommendations for governments</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/questions-for-investors-to-ask">9. Questions for investors</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/company-report-cards">10. Company Report Cards</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/report/appendix">11. Appendix</a></li>
          </ul>
        </li>
        <li class="nav--item compare"><a href="{{ site.baseurl }}/compare">Compare</a></li>
        <li class="nav--item companies dropdown--trigger" data-dropdown="dropdown-companies">
          <a href="{{ site.baseurl }}/companies">Companies</a>
          <ul class="dropdown dropdown-companies" id="dropdown-companies">
            <li class="dropdown--item-wrapper">
              <ul class="internet-and-mobile-companies">
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/apple"><i class="fa fa-circle"></i>Apple</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/baidu"><i class="fa fa-circle"></i>Baidu</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/facebook"><i class="fa fa-circle"></i>Facebook</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/google"><i class="fa fa-circle"></i>Google</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/kakao"><i class="fa fa-circle"></i>Kakao</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/mailru"><i class="fa fa-circle"></i>Mail.ru</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/microsoft"><i class="fa fa-circle"></i>Microsoft</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/oath"><i class="fa fa-circle"></i>Oath</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/samsung"><i class="fa fa-circle"></i>Samsung</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/tencent"><i class="fa fa-circle"></i>Tencent</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/twitter"><i class="fa fa-circle"></i>Twitter</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/yandex"><i class="fa fa-circle"></i>Yandex</a></li>
              </ul>
            </li>
            <li class="dropdown--item-wrapper">
              <ul class="telecommunications-companies">
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/americamovil"><i class="fa fa-circle"></i>América Móvil</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/att"><i class="fa fa-circle"></i>AT&T</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/axiata"><i class="fa fa-circle"></i>Axiata</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/bhartiairtel"><i class="fa fa-circle"></i>Bharti Airtel</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/etisalat"><i class="fa fa-circle"></i>Etisalat</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/mtn"><i class="fa fa-circle"></i>MTN</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/ooredoo"><i class="fa fa-circle"></i>Ooredoo</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/orange"><i class="fa fa-circle"></i>Orange</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/telefonica"><i class="fa fa-circle"></i>Telefónica</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/companies/vodafone"><i class="fa fa-circle"></i>Vodafone</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav--item services dropdown--trigger" data-dropdown="dropdown-services">
          <a href="{{ site.baseurl }}/services">Services</a>
          <ul class="dropdown" id="dropdown-services">
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/cloudservices">Cloud</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/emailservice">Email</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/fixedbroadband">Fixed-line broadband</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/messagingvoip">Messaging &amp; Voip</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/mobileeco">Mobile Ecosystems</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/prepostpaidmobile">Pre- and post-Paid mobile</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/search">Search engines</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/socialnetworkblog">Social Networking &amp; blog</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/services/videophoto">Video &amp; photo sharing</a></li>
          </ul>
        </li>
        <li class="nav--item categories dropdown--trigger" data-dropdown="dropdown-categories">
          <a href="#">Categories</a>
          <ul class="dropdown" id="dropdown-categories">
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/governance">Governance</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/freedom-of-expression">Freedom of Expression</a></li>
            <li class="dropdown--item"><a href="{{ site.baseurl }}/categories/privacy">Privacy</a></li>
          </ul>
        </li>

        <li class="nav--item indicators dropdown--trigger" data-dropdown="dropdown-indicators">
          <a href="{{ site.baseurl }}/indicators">Indicators</a>
          <ul class="dropdown" id="dropdown-indicators">
            <li class="dropdown--item dropdown--trigger" data-dropdown="dropdown-indicators-governance">
              <a href="#">Governance</a>
              <ul class="dropdown" id="dropdown-indicators-governance">
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/g1">G1.  Policy Commitment</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/g2">G2. Governance and management oversight</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/g3">G3. Internal implementation  </a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/g4">G4. Impact assessment  </a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/g5">G5. Stakeholder engagement</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/g6">G6. Remedy</a></li>
              </ul>
            </li>

            <li class="dropdown--item dropdown--trigger" data-dropdown="dropdown-indicators-freedom">
              <a href="#">Freedom of Expression</a>
              <ul class="dropdown" id="dropdown-indicators-freedom">
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f1">F1. Access to terms of service</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f2">F2. Changes to terms of service</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f3">F3. Process for terms of service enforcement</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f4">F4. Data about terms of service enforcement </a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f5">F5. Process for responding to third-party requests for content or account restriction</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f6">F6. Data about government requests for content or account restriction</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f7">F7. Data about private requests for content or account restriction</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f8">F8. User notification about content and account restriction</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f9">F9. Network management (telecommunications companies)</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f10">F10. Network shutdown (telecommunications companies)</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/f11">F11. Identity policy</a></li>
              </ul>

            </li>
            <li class="dropdown--item dropdown--trigger" data-dropdown="dropdown-indicators-privacy">
              <a href="#">Privacy</a>
              <ul class="dropdown" id="dropdown-indicators-privacy">
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p1">P1. Access to privacy policies</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p2">P2. Changes to privacy policies</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p3">P3. Collection of user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p4">P4. Sharing of user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p5">P5. Purpose for collecting and sharing user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p6">P6. Retention of user information  </a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p7">P7. Users’ control over their own user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p8">P8. Users’ access to their own user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p9">P9. Collection of user information from third parties (Internet companies)</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p10">P10. Process for responding to third-party requests for user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p11">P11. Data about third-party requests for user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p12">P12. User notification about third-party requests for user information</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p13">P13. Security oversight</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p14">P14. Addressing security vulnerabilities</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p15">P15. Data breaches</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p16">P16. Encryption of user communication and private content (Internet, software, and device companies)</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p17">P17. Account Security (Internet, software, and device companies)</a></li>
                <li class="dropdown--item"><a href="{{ site.baseurl }}/indicators/p18">P18. Inform and educate users about potential risks</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav--item download"><a href="{{ site.baseurl }}/download">Download</a></li>
      </ul>
    </div>
  </div>
</div>