<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body id="page--companies" class="highlihted-bg">

    <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

    {% include banner.html %}

    <div class="main-content-with-padding">
      <div class="page--intro">
        <div class="row contain">
          <p>{{ page.intro }}</p>
        </div>
      </div>
      <div id="site-canvas" data-type="{{ page.visualization }}" data-id="{{ page.entity }}">

        <div class="row contain page--companies--content--row">

          <div class="page--companies--content--column">
            <h2 class="category--title">Internet and Mobile Ecosystem Companies</h2>
            <div id="category--internet" class="category--graph internet-and-mobile-companies"></div>
          </div>

          <div class="page--companies--content--column">
            <h2 class="category--title">Telecommunications companies</h2>
            <div id="category--telco" class="category--graph telecommunications-companies"></div>
          </div>

        </div>

      </div>
    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

  </body>

</html>