<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body id="page--narrative" class="non-highlihted-bg">

    <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

    {% include banner.html %}

    <div class="page--intro">

      <div id="narrative-page-content" class="contain">

        <div class="sidebar">
          <div class="sidebar-image"><img src="{{ site.baseurl }}/assets/graphics/content/report.png"> </div>
          <div class="sidebar-menu" id="executive-summary"><a href="{{ site.baseurl }}/report/acknowledgements">Acknowledgments</a></div>
          <div class="sidebar-menu" id="executive-summary"><a href="{{ site.baseurl }}/report/executive-summary">Executive summary</a></div>
          <div class="sidebar-menu" id="/about-index"><a href="{{ site.baseurl }}/report/about-index">About the Index</a></div>
          <!-- Index Metodology -->
          <div class="sidebar-menu" id="2018-index-methodology">
            <a href="{{ site.baseurl }}/report/2018-index-methodology">1. 2018 Index Methodology </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/2018-index-methodology#index-categories">1.1 Index categories</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/2018-index-methodology#company-type">1.2 Company types</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/2018-index-methodology#index-measures">1.3 What the index measures</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/2018-index-methodology#evaluation">1.4 Evaluation and scoring</a></li>
            </ol>
          </div>
          <!-- Introduction -->
          <div class="sidebar-menu" id="introduction">
            <a href="{{ site.baseurl }}/report/introduction">2. Introduction</a></div>
          <!-- Main finding: Company disclosure remains inadequate -->
          <div class="sidebar-menu" id="inadequate-disclosure">
            <a href="{{ site.baseurl }}/report/inadequate-disclosure">3. Inadequate disclosure </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/inadequate-disclosure#section-31">3.1 The 2018 Index ranking</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/inadequate-disclosure#section-32">3.2 Notable changes</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/inadequate-disclosure#section-33">3.3 Governance advances and gaps</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/inadequate-disclosure#section-34">3.4 Spotlight: Human rights impact assessments</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/inadequate-disclosure#section-35">3.5 Regulatory factors</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/inadequate-disclosure#section-36">3.6 Recommendations for companies</a></li>
            </ol>
          </div>
          <div class="sidebar-menu" id="security-uncertainty">
            <a href="{{ site.baseurl }}/report/security-uncertainty">4. Security uncertainty </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/security-uncertainty#section-41">4.1 Disclosure failure</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/security-uncertainty#section-42">4.2 Handling of data breaches</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/security-uncertainty#section-43">4.3 Security oversight</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/security-uncertainty#section-44">4.4 Identifying and addressing vulnerabilities</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/security-uncertainty#section-45">4.5 Spotlight: “Bug bounties” and reporting vulnerabilities</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/security-uncertainty#section-46">4.6 Recommendations for companies</a></li>
            </ol>
          </div>
          <!-- I&M: User information -->
          <div class="sidebar-menu" id="privacy-failures">
            <a href="{{ site.baseurl }}/report/privacy-failures">5. Privacy failures</a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
            <div class="expand"></div>
          </div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/privacy-failures#section-51">5.1 Transparency remains inadequate</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy-failures#section-52">5.2 What, whom, and why?</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy-failures#section-53">5.3 Targeted advertising and lack of user control</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy-failures#section-54">5.4 Tracking users</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/privacy-failures#section-55">5.5 Recommendations for companies</a></li>
            </ol>
          </div>
          <!-- I&M: Policing Content -->
          <div class="sidebar-menu" id="policing-speech">
            <a href="{{ site.baseurl }}/report/policing-speech">6. Policing speech</a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div>
          </div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/policing-speech#section-61">6.1 Transparency and accountability</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/policing-speech#section-62">6.2 Terms of service enforcement</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/policing-speech#section-63">6.3 External requests to restrict content and accounts</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/policing-speech#section-64">6.4 Recommendations for companies</a></li>
            </ol>
          </div>
          <!-- Telcos -->
          <div class="sidebar-menu" id="telecommunications-disconnect">
            <a href="{{ site.baseurl }}/report/telecommunications-disconnect">7. Telecommunications disconnect </a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/telecommunications-disconnect#section-71">7.1 Chokepoints for global information flows</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/telecommunications-disconnect#section-72">7.2 Network shutdowns</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/telecommunications-disconnect#section-73">7.3 Policing access to information</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/telecommunications-disconnect#section-74">7.4 Privacy problems: surveillance and data protection</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/telecommunications-disconnect#section-75">7.5 Recommendations for companies</a></li>
            </ol>
          </div>
          <!-- Recommendations for governments -->
          <div class="sidebar-menu" id="recommendations-for-governments"><a href="{{ site.baseurl }}/report/recommendations-for-governments">8. Recommendations for governments</a></div>
          <!-- Questions for investors to ask -->
          <div class="sidebar-menu" id="questions-for-investors-to-ask"><a href="{{ site.baseurl }}/report/questions-for-investors-to-ask">9. Questions for investors</a></div>
          <!-- Recommendations for governments -->
          <div class="sidebar-menu" id="company-report-cards"><a href="{{ site.baseurl }}/report/company-report-cards">10. Company Report Cards</a></div>
          <!-- Appendix -->
          <div class="sidebar-menu" id="appendix">
            <a href="{{ site.baseurl }}/report/appendix">11. Appendix</a>
            <a class="sidebar-menu-link"><i class="fa fa-chevron-down" aria-hidden="true"></i></a><div class="expand"></div></div>
          <div class="submenu">
            <ol>
              <li class=""><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-111">11.1 Methodology development</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-112">11.2 Company selection</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-113">11.3 Selection of services</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-114">11.4 Levels of disclosure</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-115">11.5 Research process and steps</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-116">11.6 Company engagement</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-117">11.7 Scoring</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-118">11.8 For more information</a></li>
              <li><a class="submenu-link" href="{{ site.baseurl }}/report/appendix#section-119">11.9 List of charts and tables</a></li>
            </ol>
          </div>
        </div>


        <div class="narrative-content">

          {{content}}

          <div class="pagination">
            {% if page.prev %}
            <a href="{{ site.baseurl }}/report/{{ page.prev.href }}"><i class="fa fa-angle-double-left"></i>{{ page.prev.text }}</a>
            {% endif %}
            {% if page.next %}
            <a class="next" href="{{ site.baseurl }}/report/{{ page.next.href }}">{{ page.next.text }}<i class="fa fa-angle-double-right"></i></a>
            {% endif %}
          </div>

          {% if page.footnotes %}
          <h3 id="footnotes">Footnotes</h3>
          <div class="footnotes">
            {{ page.footnotes }}
          </div>
          {% endif %}

        </div>

      </div><!--end of #narrative-page-content-->

    </div>

    {% include footer.html %}

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>
    <script>

        $( document ).ready(function() {

            //add animation for show section

            $(function() {
                $('.submenu ol li > a').click(function(){
                    $('html, body').animate({
                        scrollTop: $( $(this).attr('href') ).offset().top - 40
                    }, 1000);
                    return false;
                });
            });

            // click on submenu-ling changed color

            $(function() {
                $('.submenu-link').click(function() {
                    $('.submenu-link').removeClass('active-base-color');
                    $(this).addClass('active-base-color');
                });
            });

            // on scroll added fixed class

            $(function() {
                $(window).scroll(function() {
                    if ($(this).scrollTop() >= 160) {
                        $('.sidebar').addClass('fixed');
                    } else {
                        $('.sidebar').removeClass('fixed');
                    }
                });
            });

            // open and close

            $('.sidebar-menu').click(function () {
                var $this = $(this);

                if ($this.hasClass('open')) {
                    $('.sidebar-menu').removeClass('open');
                    $('.submenu').stop(true).slideUp("fast");
                    $this.removeClass('open');
                    $this.next().stop(true).slideUp("fast");
                }
                else {
                    $('.sidebar-menu').removeClass('open');
                    $('.submenu').stop(true).slideUp("fast");
                    $this.addClass('open');
                    $this.next().stop(true).slideDown("fast");
                }
            });

            // find url and open submenu (Filip)

            $(function() {
                var pageUrl = window.location.href;
                var urlParts = pageUrl.split('/').reverse();
                console.log(urlParts);
                var partForId = undefined;
                for (var i=0; i<urlParts.length; i++) {
                    if (!urlParts[i].startsWith('#') && urlParts[i] !== '') {
                        partForId = urlParts[i];
                        console.log(partForId);
                        break;
                    }
                }
                $('#' + partForId).addClass('open').next('.submenu').css('display','block');

            });



        });
    </script>

  </body>

</html>