<!doctype html>

<!--[if lt IE 10]> <html class="lt-ie10 no-js"  lang=""> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang=""> <!--<![endif]-->

  {% include head.html %}

  <body id="page--services" class="highlihted-bg">

    <!--[if lt IE 10]>
      <div id="nocando">
        <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      </div>
    <![endif]-->

    {% include banner.html %}
    <div class="main-content">

        <div class="page--intro">
          <div class="row contain">
            <p>{{ page.intro }}</p>
          </div>
        </div>

        <div class="services--list">

          <div class="row contain">
            <h1 class="page--title">{{ page.header }}</h1>
          </div>

          <div class="row contain">
            {% if page.services %}
            <ul id="index--services">
              {% for item in page.services %}
              <li>
                <i class="fa fa-circle"></i>
                <a href={{ item.href }}>{{ item.title }}</a><br>
                {% for company in item.companies %}
                <span>{{ company.service}} <span class="gray-color">[{{company.name}}]</span></span>

                {% endfor %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>

        </div>


    </div>

    {% include footer.html %}

    <script src="{{ site.baseurl }}/assets/scripts/bundle.js"></script>

  </body>

</html>